@font-face {
  font-family: 'copse';
  src: url(../fonts/Copse-Regular.ttf); }

@font-face {
  font-family: 'copse';
  src: url(../fonts/Copse-Regular.ttf); }

body {
  font-family: 'copse'; }

header {
  background-color: #212e69; }

.imglogo {
  max-width: 20%; }

.bc-menu {
  background-color: #212e69;
  padding-left: 5%;
  transition: background-color .5s; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

nav div {
  background-color: #212e69; }

.nav {
  align-items: center; }

.nav-link {
  font-size: medium;
  font-weight: normal; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: #228cdb; }

.imginicio {
  padding-top: 1%;
  padding-bottom: 1%; }

h2 {
  color: #228cdb;
  background-color: #f3c6246d;
  text-align: center;
  /* padding-top: 1%;
    padding-bottom: 1%; */
  font-size: 30px;
  font-weight: normal; }

.btn-info {
  font-size: 90%;
  text-decoration: none;
  color: #212e69;
  background-color: #f3c6246d;
  border-color: #f3c6246d;
  text-decoration: none; }
  .btn-info :hover {
    color: white; }

button a {
  text-decoration: none; }

.pdecarrera {
  font-size: 90%;
  text-decoration: none;
  color: #212e69;
  background-color: #f3c6246d; }

.animate__fadeIn {
  animation: hfadeIn;
  animation-duration: 10s; }

.imgmetodologia {
  width: 50%; }

span .imgmetodologia {
  margin: 3% 2% 3% 25%; }

span .texto1 {
  text-align: justify;
  margin-left: 3%;
  margin-right: 5%; }

span .texto1 p {
  text-align: justify; }

.resumen-met {
  text-align: justify;
  padding-left: 3%;
  padding-right: 3%; }

a .carreras {
  text-decoration: none;
  color: #212e69;
  text-align: center;
  border: #228bdb62 solid;
  border-radius: 10px;
  text-align: center;
  padding: 0;
  background-color: #f3c6246d;
  font-size: 80%;
  font-weight: bolder; }

a div {
  text-decoration: none;
  color: #212e69;
  text-align: center;
  position: relative;
  font-size: 130%;
  font-weight: bolder;
  margin: 1%; }

.imgcarreras {
  border: #228bdb62 solid;
  border-radius: 10px;
  margin-bottom: 2%;
  animation-delay: 0.5s;
  width: 100%;
  font-size: 130%;
  font-weight: bolder; }

a div p {
  position: absolute;
  bottom: 10%;
  padding: 0;
  background-color: #f3c62444;
  width: 100%;
  font-size: 60%;
  font-weight: normail; }

.titulo-carrera {
  padding-bottom: 2%;
  text-align: center;
  text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white; }

.segundasecc {
  justify-content: center;
  align-items: center;
  padding-left: 10%; }

footer {
  background-color: #228bdb62; }

.imgfooter {
  max-width: 25px; }

.contenedor_index {
  padding-right: 20%; }

.h2_centrados {
  text-align: center; }

.img_nav {
  width: 20%;
  vertical-align: middle; }

.imgcarrerasinvertida {
  width: 200px;
  margin-left: 30%; }

h2 .ofertas {
  text-align: center; }

a .pde {
  border-radius: 3px;
  box-shadow: #228bdb7f; }

.pde {
  background-color: #f3c6246d;
  font-size: 80%;
  padding: 2%;
  color: #228cdb;
  margin-left: 50%;
  border-radius: 3px;
  box-shadow: #228bdb7f;
  padding-left: 23%; }

.imgcarreras2 {
  width: 200px;
  margin-left: 10%;
  margin-bottom: 2%; }

.imgcarrerasinvertida {
  width: 200px;
  margin-left: 10%;
  margin-bottom: 2%; }

.textocarreras {
  text-align: justify;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%; }

.imgteam {
  width: 30%; }

.centrarimgteam {
  text-align: center; }

.textoquienessomos {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%; }

.formulario {
  font-family: 'copse';
  font-size: 110%;
  margin: 0 auto;
  width: 400px;
  text-align: left;
  padding: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 3px;
  background-color: #f3c62431; }

.formulario {
  display: flex;
  flex-direction: column; }

.form {
  width: 300px;
  margin: 0 auto;
  background-color: #f3c62431;
  padding: 10px;
  border-radius: 3px;
  font-size: 130%;
  text-align: center;
  margin-bottom: 40%; }

.imglogin {
  padding: 2%;
  margin-left: 35%;
  width: 30%;
  border-radius: 3px; }

.boton, .botoncontacto {
  background-color: #228cdb;
  font-family: 'copse';
  color: white;
  width: 130px;
  height: 50px;
  font-size: 120%;
  text-align: center;
  border-color: #228cdb;
  border-radius: 3px; }

.botoncontacto {
  width: 150px;
  margin: 2%; }

.labelscontacto {
  display: flex;
  flex-direction: column;
  border-color: #f3c62463; }

.fieldcontacto {
  width: 300px;
  font-family: 'copse';
  font-size: 100%;
  margin: 2%;
  border-radius: 3px;
  border-color: #f3c62463; }

.caja {
  width: 300px;
  height: px;
  font-family: 'copse';
  font-size: 100%;
  margin: 2%;
  border-radius: 3px;
  border-color: #f3c62463; }

.field {
  border-color: #f3c62463; }

input {
  margin-top: 3%;
  margin-bottom: 2%;
  font-family: 'copse';
  border-color: #228cdb;
  padding: 10px;
  width: 250px; }

.novedades {
  display: flex;
  flex-direction: row; }

div .table {
  padding-right: 10%; }

nav ol .breadcrumb a {
  text-decoration: none; }

.breadcrumb-item {
  text-decoration: none; }

ol {
  padding-left: 5%;
  background-color: #228bdb7d; }

ol a {
  text-decoration: none;
  color: #f3c624;
  font-size: 110%;
  font-weight: normal; }

ol li {
  text-decoration: none;
  color: #f3c624;
  font-size: 110%;
  font-weight: normal;
  padding-left: 5%; }

.tabla {
  margin-left: 5%;
  margin-right: 5%; }

.negrita {
  font-weight: bold;
  text-decoration: underline; }

table {
  margin-right: 30%; }

@media screen and (min-width: 768px) {
  .imglogo {
    max-width: 10%; }
  div .tabla {
    width: 70%; }
  .nav-link {
    font-size: 120%; }
  .metodologia {
    display: flex;
    flex-direction: rox; }
  a div p {
    font-size: 100%; }
  a div p {
    position: absolute;
    bottom: 5%;
    padding: 0;
    background-color: #f3c62444;
    width: 100%;
    font-size: 100%;
    font-weight: bold; }
  .imgmetodologia {
    width: 50%; }
  .texto1 {
    justify-content: center;
    align-self: center;
    width: 50%; }
  /* .resumen-met{
        
        padding-right: 5%;
    } */
  .imgcarreras2 {
    width: 60%; }
  div .img-carreras {
    padding-left: 10%;
    padding-right: 10%; }
  .pde {
    padding-left: 20%;
    font-size: 110%;
    margin-top: 25%; }
  .btn-pde :hover {
    color: white; }
  .btn-info {
    font-size: 110%; }
    .btn-info :hover {
      color: white; }
  ol li {
    font-size: 125%;
    font-weight: normal; } }
