@font-face {
    font-family: 'copse';
    src: url(../fonts/Copse-Regular.ttf);
}
$color-headeryfooter: #212e69;
$fuente-principal: 'copse';
$color-bc-subtitulos: #f3c6246d;
$color-textos-subtitulos: #228cdb;
$color-textos-nav: white;
$color-cajas-formularios: #f3c62463;
//creación de mapa de colores
$colores: (color-headeryfooter: #212e69, color-bc-subtitulos: #f3c6246d, color-textos-subtitulos: #228cdb, color-textos-nav: white, color-cajas-formularios: #f3c62463 )